nav {
  display: flex;
  align-items: center;
  padding: 0 20px;
  text-transform: uppercase;
  height: 73px;
}

nav button#ham {
  display: none;
}

nav h1 a {
  color: #fec20c;
  font-size: 40px;
  font-family: "KBO-Dia-Gothic_bold";
}

nav ul {
  display: flex;
  gap: 40px;
  margin-left: 90px;
  font-size: 22px;
}

nav ul li {
  border-bottom: 3px solid transparent;
  padding: 2px 7px 4px;
  transition: all 0.2s;
  position: relative;
}

nav ul li.active::after {
  position: absolute;
  display: block;
  content: " ";
  width: 95%;
  height: 3px;
  left: 3%;
  background: #fec20c;
}

nav ul li:hover::after {
  position: absolute;
  display: block;
  content: " ";
  width: 95%;
  height: 3px;
  left: 3%;
  background: #fec20c;
  animation: navLine 0.3s;
}

nav aside {
  display: none;
}

@keyframes navLine {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

nav ul li a {
  color: #222;
  font-weight: 500;
}

@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@media screen and (max-width: 770px) {
  nav {
    justify-content: space-between;
  }
  nav h1 a {
    color: #fec20c;
    font-size: 30px;
    font-family: "KBO-Dia-Gothic_bold";
  }

  nav ul {
    font-size: 17px;
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  nav {
    position: relative;
  }

  nav ul {
    display: none;
  }
  nav button#ham {
    display: block;
    border: none;
    background: none;
    font-size: 28px;
  }
  nav aside {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 0;
    top: 73px;
    font-size: 25px;
    height: 100vh;
    width: 100vw;
    z-index: 50;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    overflow: hidden;
  }

  nav aside #sideTxtWrap {
    padding: 30px;
    width: 200px;
    height: 100%;
    background: white;
  }
  nav aside div.sideTxt {
    margin: 25px 0;
  }
  nav aside div.sideTxt a {
    color: black;
  }
}
