#comm {
  max-width: 90%;
  min-height: 80vh;
  margin: 20px auto;
}

#comm article {
  max-width: 1200px;
  margin: auto;
}
#writeBtnWrap {
  display: grid;
  margin: 20px 0;
}

#comm article #writeBtnWrap div {
  justify-self: end;
}

#comm article #writeBtn {
  background: #f39c12;
  font-size: 20px;
  width: 150px;
  height: 55px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 21px;
  box-shadow: 4px 4px 0 2px #ffc466;
  transition: all 0.2s;
}

#comm article #writeBtn:hover {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.comItem {
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

.comItem h3 {
  font-size: 20px;
  color: black;
  display: inline-block;
  padding: 0 15px 10px 0;
}
.comItem h3:hover {
  color: #f39c12;
}

.comItemPs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemRi {
  display: flex;
  gap: 15px;
}

.itemRi p {
  display: flex;
  align-items: center;
  gap: 5px;
}
