body {
  background: #eee;
}

#mainLoad {
  z-index: 100;
  width: 90vw;
  height: 40vh;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#homePage header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  max-width: 700px;
  margin: 100px auto;
}

#homePage header button {
  font-size: 24px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

#homePage main {
  width: 100%;
  margin: 0 auto 100px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

#homePage main a {
  width: 90%;
  max-width: 600px;
}

#homePage main .pokeCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: white;
  height: 220px;
}

#homePage main .pokeCard .cardTxt {
  display: flex;
  flex-direction: column;
  padding: 40px 0 40px 20px;
  justify-content: space-between;
  text-transform: uppercase;
}

#homePage main .pokeCard .cardTxt .txtId {
  font-size: 18px;
  font-weight: 500;
}

#homePage main .pokeCard .cardTxt .txtName {
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 32px;
}

#homePage main .pokeCard .cardTxt .txtType {
  display: flex;
  gap: 10px;
}
#homePage main .pokeCard .cardTxt .txtType p {
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

#homePage main .pokeCard img {
  z-index: 1;
  align-self: center;
  width: 150px;
}

#homePage main .pokeCard .back {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 45%;
  height: 55%;
  background: radial-gradient(rgba(255, 255, 255, 0.2) 2.5px, #000 2.5px, transparent 0);
  background-size: 14px 14px;
}

@media screen and (min-width: 550px) {
  #homePage main .pokeCard img {
    align-self: end;
    width: 250px;
  }
}
@media screen and (min-width: 550px) {
  #homePage main .pokeCard .cardTxt {
    padding: 40px;
  }
}

@media screen and (min-width: 1100px) {
  #homePage main {
    width: 90%;
  }
  #homePage main a {
    width: 47%;
  }
}

@media screen and (min-width: 1400px) {
  #homePage main a {
    width: 30%;
    max-width: none;
  }
}
