#comItem {
  max-width: 1200px;
  margin: 50px auto 100px;
  min-height: 80vh;
}

#comItem article {
  max-width: 900px;
  margin: 0 auto;
}

#comItem article h3 {
  font-size: 32px;
}

#comItem article #titDetail {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: gray;
}

#comItem article #titDetail div {
  display: flex;
  gap: 10px;
}

#comItem article #titDetail span {
  display: flex;
  align-items: center;
}

#comItem article hr {
  margin: 20px 0;
}
#comItem article #content {
  font-size: 22px;
}

#comItem article #content img {
  max-width: 100%;
}

@media screen and (max-width: 900px) {
  #comItem article {
    padding: 0 10px;
  }
}
